<div class="project-member__avatar">
  {{#link-to 'slugged-route' user.username}}
    <img class="icon" src= {{user.photoThumbUrl}} />
  {{/link-to}}
</div>

<div class="project-member__name">
{{#if user.name}}
    {{link-to user.name 'slugged-route' user.username}}
{{else}}
    {{link-to user.username 'slugged-route' user.username}}
{{/if}}
  <br>
  {{user.username}}
</div>

<div class="project-member__interests">
  <h4>Interests</h4>
  <ul>
    <li>interest</li>
    <li>interest</li>
    <li>interest</li>
    <li>interest</li>
    <li>interest</li>
    <!-- {{#each user.userCategories as |userCategory|}}
      <li>{{userCategory.category.name}}</li>
    {{/each}} -->
  </ul>
</div>

<div class="project-member__skills">
  <h4>Skills</h4>
  <ul>
    <li>skill</li>
    <li>skill</li>
    <li>skill</li>
    <li>skill</li>
    <li>skill</li>
    <!-- {{#each user.userSkills as |userSkill|}}
      <li>{{userSkill.skill.title}}</li>
    {{/each}} -->
  </ul>
</div>

<div class="project-member__actions">
  {{#if membership.isPending}}
    <button class="default small" {{action "approve" membership}}>Approve</button>
    <button class="danger small" {{action "deny" membership}}>Deny</button>
  {{/if}}
</div>
